<!DOCTYPE html>
<body style="background-color:#000">
  <nav class="navbar navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Oussama ABOULHASSAN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Oussama ABOULHASSAN</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="https://oussamaaboulhassan.herokuapp.com/">Welcome page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="https://oussamaaboulhassan.herokuapp.com/proexp/">Programming experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://oussamaaboulhassan.herokuapp.com/projects/">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://oussamaaboulhassan.herokuapp.com/skills/">Skills</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" href="https://oussamaaboulhassan.herokuapp.com/degrees">Degrees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://letsgoout.redbubble.com">Redbubble</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://medium.com/@oussamaaboulhassan">Medium</a>
            </li> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contact me!
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="https://www.linkedin.com/in/oussamaab/">LinkedIn</a></li>
                <li><a class="dropdown-item" href="https://instagram.com/yesiamoussama">Instagram</a></li>
                <li><a class="dropdown-item" href="https://github.com/oussamaaboulhassan">Github</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>
<style>
    .accordion{
        margin-top: 7.5em;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 3.2em;
        background: #2e2e2e;
    }
    .accordion-body{
        background-color: #fff;

    }
    ul {
    text-align: center;
    }
    .new_font_2{
      margin-top: 3.5em;
      color: #3d5a80;
      text-align: center;
      font-size: 1.5em;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bolder;
      margin-bottom: 1.2em;
      margin-top: 1em;  
      align-items: center;
      position: center;
    }
    .navbar{
        background-color: #0e0e0e;
    }
    body {
    background-image: url('https://images.unsplash.com/photo-1616004655123-818cbd4b3143?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    }
    .container .card_1 {
    background-image: url('https://images.unsplash.com/photo-1652717249447-293e8205c000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    }
    accordion-button {
    background-color: black;
    }
    .accordion-header .text {
      color: #fff;
    }
    
    
</style>

<div class="accordion" id="accordionExample" >
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne" >
        <button class="accordion-button  text-white"  style ="background-color: #0e0e0e" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          This resume website
        </button>
      </h2> 
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <strong>Django, HTML, CSS and Bootsrap.</strong> Created base on Django framework (url.py, views.py...), HTML was for the test and Bootsrap provides the design needed and lastly the CSS decorate the whole website. That a proof that i consider myself a full stack developer.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed text-white" type="button" style ="background-color: #0e0e0e" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Redbubble Automated Upload
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Python and selenium.</strong>
          Automated upload to redbubble utilizing selenium penetration tool, by navigating through the uploading procedure and obtaining the relevant tags and title. To promote the artwork
          i created a page in both Pinterest and instagram, with a help from ads it turned up pretty well.         
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed text-white" type="button" style ="background-color: #0e0e0e" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Golang API
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Go Language and API.</strong>something to be written. its about the good stuff
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed text-white" type="button" style ="background-color: #0e0e0e" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
            project4
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>project4</strong> something to be written.
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed text-white" type="button" style ="background-color: #0e0e0e" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
            project5
          </button>
        </h2> 
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong>something to be written.
          </div>
        </div>
    </div>

</div>
<ul><a class="new_font_2" href="https://oussamaaboulhassan.herokuapp.com/skills/">Magnificent, but what are the skills i have acquired?</a></ul>
</body>  
<html lang="en" dir="lfl">
    <body>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css" integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous">
  
  
      <!-- Optional JavaScript; choose one of the two! -->
  
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  
      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
      -->
    </body>
  
  
  
  
  
  
  </html>